HOST=0.0.0.0
PORT=3000
LIVE_SAMPLE_INTERVAL_SEC=60
LIVE_SAMPLE_BATCH_SIZE=12
PROFILE_SAMPLE_INTERVAL_SEC=3600
ANALYSIS_INTERVAL_SEC=300
MESSAGE_MONITOR_ROOM_LIMIT=1
MESSAGE_BRIDGE_DURATION_SEC=0
MESSAGE_API_POLL_INTERVAL_SEC=8
PYTHON_BIN=python
DOUYIN_SPIDER_PATH=../DouYin_Spider
DY_LIVE_COOKIES=
DY_LIVE_COOKIES_FILE=
DY_USER_INFO_URL=
DY_WEBCAST_SETTING_URL=
